body{background:#fff;}
/*
.nav_bg{background:url(../img/hc_topbg.gif) repeat-x left top}
.nav_bg .nav_menu .tab_menu .tab_btn li a{color:#000;}
.nav_bg .nav_menu .tab_menu .tab_btn li a:hover{color:#fff;background:url(../img/hoverbg.gif) no-repeat center top; width:115px;display:block; text-decoration:none;}
.nav_bg .nav_menu .sea_form input.sea_sub{width:33px;height:28px;background:none;border:none;color:#000;vertical-align:middle;cursor:pointer}
.gareas .gtop .rc span.rsubcolor{color:#343434;}
.gareas .gtv{background:url(../img/tvtbgs.gif) repeat-x left top;}
.area_foot{background:#676767;}
.area_foot .foot_cot .copy_txt li.cp_atxt, li.cp_atxt a{color:#fff;}
.area_foot .foot_cot .copy_txt li.cp_btxt{color:#E6E7E8;}
*/
