<widget xmlns="http://www.jil.org/ns/widgets" id="hoge-live8-id" version="02.00.Beta" versioncode="2" width="480">
	<name>直播8中</name>
	<description>直播模块</description>
	<author email="Widget@chinamobile.com">hu</author>
	<icon src="icon.png"/>
	<content src="index.html" encoding="utf-8"/>
	<feature name="http://jil.org/jil/api/1.1/widget"/>
</widget>