.ad_form{margin-bottom:20px;}
.need-file{display:inline-block;margin:3px 20px 0px 10px;}
.tpl{overflow:hidden;}
.tpl li{float:left;margin: 3px 20px 0px 10px;}
.define-condition-area{display:none;}
.define-condition-area.show{display: inline-block;margin-left:20px;}
.info .w200{width:200px;}
.info .w120{width:120px;}