#wrapper{position:absolute; top:111px; left:0; bottom:0; overflow:auto; width:100%; }
#scroller{position:relative; width:100%; }


html, body{height:100%;}
.transition{width:100%; position:absolute; overflow:hidden; }
#thelist{margin-bottom:10px;}

.second-body{width:100%;position:relative;}
.second-body .list-item-li{margin:0}

/*列表栏*/
.subnav{display:none; }
.nav-box{background: #f9f9f9; border: 0; }
#arrow {width: 50px; -webkit-box-flex: 0; -webkit-box-align: center; -webkit-box-pack: center; display: block; font-size:1.5em; color:#fff; cursor:pointer; background-color:rgba(59, 154, 198, 0.9);}



/*路况*/
.nodata{line-height:230px; font-size:2.2em; margin-top:30px; color:#999; text-align:center; background:url("../images/road/road_nodata.png") no-repeat center top;}
.list-item-li{margin:10px 10px 0;}
.road-item{ background-color: #fff; padding:10px; border-bottom: 2px solid #cbcbcb;}
.road-item .info{line-height: 22px; color:#999; }
.road-item .title{font-size:2.6em; line-height:1.4; } 
.road-item .detail{margin-top:10px; font-size:1.8em;}
.road-item .type{display:inline-block; height:20px; line-height:18px; vertical-align:middle; padding:0 4px; background-color:#ffa200; color:#fff; border-radius:3px;}
.road-item .type.congestion{background-color:#f30400; }
.road-item .type.accident{background-color:#003e69; }
.road-item .type.regulate{background-color:#0070e3; }
.road-item .type.construct{background-color:#c55aeb; }
.road-item .ntime{float:right; margin-top:3px; color:#999; }


#content-wrapper{top:75px;}
.content-box{width:100%;position:relative;}

.road-wrap{width:100%;}
/*路况地图*/
.getloc-wrap{position:absolute; top:76px; height:100%; visibility:hidden; background-color:transparent; z-index: 999;}
.road-map-icon{position:absolute; left:0; bottom:24px; width:66px;height:51px;background-color:transparent;z-index:1000; cursor: pointer; box-shadow: none; display:none; }
.road-map-icon.map{background-image:url(../images/road/weibo-list-switch-2x.png); background-size:66px 51px;}
.road-map-icon.list{background-image:url(../images/road/switch_map-2x.png); background-size:66px 51px;}
.getloc-wrap #roadMap{width:100%; height:100%;}
.getloc-wrap .map_tips{height:100px; width:200px; position:relative; font-size:1.8em; line-height:25px; margin-top:-100px; margin-left:-3px; padding:10px 5px; border:1px solid #999; border-radius:8px; box-shadow:0 3px 6px 0 #666; background-color:rgba(255, 255, 255, 0.8); }
.getloc-wrap .map_route{padding:0 5px; height:100%; overflow: hidden; }
.getloc-wrap .map_route em{float:left; width:65px; color:#999; }
.getloc-wrap .map_route p{color:#333;}
.getloc-wrap .map_tips:after{position:absolute; left:170px; top:120px; border:8px solid transparent; border-top-color:rgba(255, 255, 255, 0.8); content:''; }
.getloc-wrap .map_tips:before{position:absolute; left:169px; top:120px; border:9px solid transparent; border-top-color:#999; content:''; }


.map-item{position:absolute; left:10px; z-index:9; cursor:pointer; text-align:center; border:1px solid #ccc; background-color:rgba(255, 255, 255, 0.9); }
.map-item a{display:inline-block; height:24px; line-height:22px; vertical-align:middle; padding:0 6px; margin:0 7px; font-size:1.8em; background-color:rgb(0, 0, 0); color:#fff; }

.map-nav{top:10px; width:380px; height:40px; line-height:40px; }
.map-nav a{opacity: 0.8; }
.map-nav a.congestion{background-color:rgb(243, 4, 0); }
.map-nav a.accident{background-color:rgb(0, 62, 105); }
.map-nav a.regulate{background-color:rgb(0, 112, 227); }
.map-nav a.construct{background-color:rgb(197, 90,235); }
.map-nav a.other{background-color:rgb(255, 162, 0); }
.map-nav a.selected{opacity: 1; }


.map-road{top:60px; width:200px; overflow:hidden; }
.map-road p{font-size:1.8em; line-height:40px; color:#333; }
.map-road .status{display:none; height:32px;}
.map-road.map-open .status{display:block;  }

#wirelessDiv{display:none; }
/*实时路况*/
#tcBtn{display:none; }

/*页面翻转*/
.flip{position:absolute; -webkit-backface-visibility:hidden; -webkit-transform:translateX(0); }
.out{-webkit-animation-timing-function : ease-in; -webkit-animation-duration:225ms; }
.in{-webkit-animation-timing-function : ease-out; -webkit-animation-duration:350ms; }
.flip.out{-webkit-transform: rotateY(-90deg) scale(.9); -webkit-animation-name: flipouttoleft; -webkit-animation-duration: 175ms;}
.flip.in {-webkit-animation-name: flipintoright; -webkit-animation-duration: 225ms; }
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
	.road .nodata{background-image:url("../images/road/road_nodata-2x.png"); background-size:150px 100px;}
	.road-map-icon.map{background-image:url(../images/road/weibo-list-switch-2x.png); background-size:66px 51px;}
	.road-map-icon.list{background-image:url(../images/road/switch_map-2x.png); background-size:66px 51px;}
}











