@charset "utf-8";
.contribute-paixu{width:35px}
.contribute-fb{width:100px;}
.contribute-bj{width:50px;}
.contribute-sc{width:50px;}
.contribute-fl{width:60px}
.contribute-zt{width:50px;}
.group-zt{width:50px;}
.contribute-khd{width:100px;}
.contribute-blr{width:140px}

