@charset "utf-8";
.auth-paixu{width:30px}
.auth-bj,.auth-sc{width:35px}
.auth-khxs{width:100px;}
.auth-khbs{width:100px;}
.auth-khms{width:100px}
.auth-app{width:50px;padding-right:20px}
.auth-zt{width:50px}
.auth-gqsj,.auth-cjsj{width:100px}
.auth-biaoti-overflow{max-width:400px}
.auth-sh{width:70px;margin-top:-2px}