@charset "utf-8";
.group-paixu{width:50px;}
.group-cz{width:150px;}
.group-cz2{width:200px;}
.group-tz{width:150px;}
.group-ht{width:50px;}
.group-jm{width:60px}
.group-lx{width:50px;}
.group-zt{width:50px;}
.group-tjr{width:150px;}
