@charset "utf-8";
.admin-paixu{width:30px}
.admin-bj,.admin-sc{width:35px}
.admin-jdsq{width:100px;}
.admin-js{width:70px;}
.admin-bdmb{width:100px}
.admin-yzm{width:85px}
.admin-tjr{width:140px}
.admin-biaoti-overflow{max-width:400px}
.admin-lm{padding-left:8px;}
.platform{margin-left: 4px;}
.platform_checkbox{margin-left: 25px;}