.indexpic{width:160px;height:160px;border:1px solid #e0dcdd;display:table-cell;text-align:center;vertical-align:middle;}
.indexpic-box{width:162px;height:162px;margin:0 auto;position:relative;}
.form-cioption-indexpic{padding-left:0;padding-right:0;}
.indexpic-suoyin, .indexpic-suoyin-current{position:absolute;left:-2px;top:-2px;background:url("{$RESOURCE_URL}news/suoyintu.png") no-repeat;width:16px;height:46px;}
.indexpic-suoyin-current{background-image:url("{$RESOURCE_URL}news/suoyintu-current.png");}

.form-dioption-brief .input-hide{color:#a3a3a3 !important;}
.form-cioption-item .input-hide{color:#9f9f9f !important;}

#keywords-tiqu{position:absolute;right:0;top:16px;background:url("{$RESOURCE_URL}news/keyword.png") no-repeat;cursor:pointer;width:13px;height:13px;}
#keywords-tiqu:hover, #keywords-tiqu.on{background-image:url("{$RESOURCE_URL}news/keyword-hover.png");}
.keywords-tiqutip{display:none;position:absolute;right:-135px;top:-4px;border-radius:3px;background:#619cd2;color:#fff;padding:3px 0;width:120px;text-align:center;}
.keywords-tiqujiantou{position:absolute;left:-8px;top:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #619cd2;height:0;width:0;}
#keywords-tiqu:hover .keywords-tiqutip{display:block;}

#keywords-ajax{position:absolute;z-index:10;border:1px solid #619cd2;padding:10px;width:265px;display:none;background:#fff;}
#keywords-ajax ul{margin-top:10px;max-height:600px;overflow:auto;}
#keywords-ajax li{float:left;min-width:80px;margin-bottom:5px;}
#keywords-ajax li span{float:left;border:1px solid #ccc;background:#fff;color:#333;padding:3px 10px;}
#keywords-ajax li span.on{background:#619cd2;border-color:#619cd2;color:#fff;}
#keywords-ajax .keywords-tiqujiantou{left:-11px;top:50%;margin-top:-11px;}
#keywords-close{position:absolute;right:-8px;top:-8px;background:#fff;border:2px solid #619cd2;color:#619cd2;height:16px;width:16px;text-align:center;1line-height:16px;cursor:pointer;border-radius:10px;font-weight:bold;}

#iframe-mask-loading{z-index:100;position:absolute;left:0;top:30px;background:#fff;width:690px;height:1000px;border:1px solid #CFCFCF;}
#iframe-mask-loading img{position:absolute;left:50px;top:50px;width:50px;}

.form-right .form-dioption-item{margin:0 !important;color:#9f9f9f !important;padding:10px 15px;}
.form-dioption-item .my-placeholder{border:1px solid transparent;padding:5px 0;}
.form-dioption-item .my-placeholder.on{color:#333 !important;background:#fff;border-color:#77b7f9;}
.my-placeholder:focus, #brief-clone:focus{box-shadow:none !important;outline:none !important;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
	.indexpic-suoyin, .indexpic-suoyin-current{background-image:url("{$RESOURCE_URL}news/suoyintu-2x.png") ;background-size:16px 46px; }
	.indexpic-suoyin-current{background-image:url("{$RESOURCE_URL}news/suoyintu-current-2x.png");background-size:16px 46px;}

    #keywords-tiqu{background-image:url("{$RESOURCE_URL}news/keyword-2x.png");background-size:13px 13px;}
    #keywords-tiqu:hover{background-image:url("{$RESOURCE_URL}news/keyword-hover-2x.png");background-size:13px 13px;}
}

