@charset "utf-8";
.group-paixu{width:50px;}
.group-cz{width:350px;}
.group-cz2{width:150px;}
.group-tz{width:180px;}
.group-ht{width:50px;}
.group-jm{width:60px}
.group-lx{width:50px;}
.group-zt{width:50px;}
.group-tjr{width:130px;}
