body{width:100%;}
#slider{display:none;}
.ui-slider-item{height:300px;}
.list-item-li{margin:10px 10px 0;font-size:2.6em;}
.list-item{min-height:96px;padding:0 10px;margin:0;position:relative;}
.list-item.video .list-pic{position:relative;}
.list-item.video .list-pic:after{position:absolute;content:'';background:url(../images/news/live-icon-play-l.png) no-repeat center;width:100%;height:100%;top:0;}
.list-item .title{line-height:1.6;margin-right:15px;}
.list-item .flag{position:absolute;bottom:11px;right:130px;font-size:0.8em;text-align:center;height:22px;line-height:20px; vertical-align:middle; padding:0 5px;color:#fff;background:#33b5e5;}
.list-item.pic .flag{display:none;}
#thelist{width:100%;padding-bottom:10px;}
.comment-wrapper{bottom:50px;}
.pointer{position:absolute;bottom:6px;left:0;right:0;text-align:center;}
.pointer span{display:inline-block;margin:0 4px;width:6px;height:6px;border-radius:3px;background:#b8d5e5;}
.pointer span.current{background:#3b9ac6;}

.subnav{display:none; }
.nav-box{background: #f9f9f9; border: 0; }
#arrow {width: 50px; -webkit-box-flex: 0; -webkit-box-align: center; -webkit-box-pack: center; display: block; font-size:1.5em; color:#fff; cursor:pointer; background-color:rgba(59, 154, 198, 0.9);}

/* 新闻详情 */
#content-wrapper{top:75px;}
.content-box{width:100%;position:relative;1padding-bottom:20px;}
.content-box-word{padding-top:20px;margin:0 20px;}
.content-box h1{font-size:2.8em;line-height:1.2;color:#000;margin-bottom:10px;}
.content-box .p-img{text-align:center;text-indent:0!important;}
.content-box .publish-time,.content-box .author{color:#888;font-size:1.8em;}
.content-box .author{padding-left:30px;}
.content-box article{line-height:1.8;padding-top:20px;font-size:2.4em;text-indent:2em;}
.content-box .video-brief{font-size:2em;padding-top:15px;}
.content-box p img{text-align:center;}
.pic-slide{position:fixed;top:0;left:0;bottom:0;right:0;background:#000; z-index: 1001;}
.pic-slide .slide-item{background: url(../images/bae_progress_loading.gif) no-repeat center;background-size: 54px;text-align: center;position: relative;display:table-cell;vertical-align:middle;/* overflow: hidden; */-webkit-box-sizing: border-box;height: auto;min-height:54px;}

/* 图集 */
.tuji-head{height:68px;line-height:68px;position:absolute;z-index:10;display: none;}
.tuji-head .back{z-index:11px;color:transparent;display:inline-block;width:100px;text-align:center;font-size:20px;background:url(../images/bae_header_back.png) 22px center no-repeat;}
.tuji-wrap{position: relative;background: #000;height:100%;}
.tuji-wrap .ui-slider-item{background:none;}
.tuji-wrap .tuji-info{position:absolute;bottom:0;left:0;right:0;height:120px;background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));color:#fff;}
.tuji-wrap .title{font-size:2.4em;margin:5px 15px 0;}
.tuji-wrap .page-count{color:white;position:absolute;right:15px;top:5px;font-size:2.4em;}
.tuji-wrap .content{font-size:1.8em;margin:5px 15px 15px;max-height:71px;overflow-y:auto;}
/*.tuji-wrap .ui-slider-item{display: table-cell;vertical-align: middle;}*/
.tuji-wrap img{vertical-align: middle;}

/* 评论列表 */
.comment-list .main-wrap{position:relative;}
.comment-list #wrapper{top:76px;}
.comment-list .list-item{padding:5px 10px 18px;}
.comment-list .list-item span{display:inline-block;height:35px;line-height:35px;}
.comment-list .user{color:#3b9ac6;}
.comment-list .time{color:#999;float:right;}
.comment-list .comment{font-size:1.6em;line-height:1.5;color:#333;}

.write-comment{position:fixed;width:100%;bottom:0;height:49px;background:rgba(250,250,250,0.95);}
.write-comment div{border:1px solid #ccc;height:29px;margin:10px;line-height:29px;text-indent:10px;color:#999;background:#eee;}

.comment-box{display:none;position:fixed;left:0;right:0;bottom:0;height:140px;background:#f1f1f1;}
.comment-box .title{height:44px;}
.comment-box .title span{display:block;line-height:44px;text-align:center;}
.comment-box .btn{display:block;width:44px;}
.comment-box .cancel{background:url(../images/navbar/navbar-icon-cancel.png);}
.comment-box .submit{background:url(../images/navbar/navbar-icon-submit.png);}
.comment-box .content{padding:0;width:290px;margin:0 auto;height:80px;}
.comment-box textarea{width:100%;height:100%;line-height:1.5;text-indent:10px;resize:none;border:1px solid #ccc;background:#eee;font-size:1.6em;color:#333;}
.comment-box textarea:focus{box-shadow:none;outline:none;}

.first-body{width:100%;}
.second-body{width:100%;position:relative;}


/* 详情页设置字体大小 */
.set-font-size{position:fixed;bottom:35px;right:20px;text-align:center;height:60px;width:240px; background-color:rgba(156, 156, 156, 0.8); display:none; z-index: 999; border-bottom:2px solid #686868; }
.set-font-size span{display:inline-block; width:80px; line-height:60px; color:#eee; position:absolute; top:0;}
.set-font-size span.selected{color:#eee;background:#686868;}
.set-font-size .small{font-size:2.4em; left:0;}
.set-font-size .middle{font-size:2.6em; left:80px; }
.set-font-size .large{font-size:3.4em; left:160px; }

.content-box .small{font-size:2.4em; }
.content-box .middle{font-size:2.6em; }
.content-box .large{font-size:3.4em; }

/* 分享 */
.share-wrap{position:fixed;width:100%;height:260px;bottom:-500px;transition:all linear .3s;background:#f2f2f2;}
.share-wrap.show{bottom:0;}
.share-inner{padding-top:20px;text-align:center;}
.share-icons>div{justify-content: space-around;-webkit-box-pack: justify;}
.share-icons a{display:block;text-align:center;height:84px;min-width:60px;}
.share-icons a img{width:50px;height:50px;}
.share-icons span{display:block;font-size:1.4em;color:#666;margin-top:7px;}
.share-cancel-btn{display:block;background:#fcfcfc;height:46px;line-height:46px;color:#aaa;width:290px;border-bottom:2px solid #e8e8e8;margin:8px auto 0;}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
	.list-item.video .list-pic:after{background-image:url(../images/news/live-icon-play-l-2x.png);background-size:56px 56px;}
}