body{padding:0;margin:0;min-width:320px;font: normal 12px "Hiragino Sans GB","Microsoft YaHei",tahoma,verdana,arial,sans-serif;}
.ggkBox{position:relative;background:url(bg.png);width:320px;height:480px;background-size:320px 480px;}
.ggk-canvas,.ggk-txt{position:absolute;width:235px;height:101px;top:199px;left:42px;}
.ggk-txt{background:#f0f0f0;text-align:center;line-height:101px;color:#9f9f9d;font-size:28px;}
