.channel-list-box .name{width:100px; padding:0; display: inline-block;}
.channel-item{width: 140px;}
.date-list li{float:left; width:100px; line-height: 26px; background-color:#d7d7d7; text-align:center; margin-right:10px; }
.date-list li.active{background-color:#6aa3ea; color:#fff;}
.content-list{margin-top:10px;}
.content{display:none;}
.content label{display:inline-block; width:100px; text-align:left; vertical-align: top; padding-top:5px;}
.content ul{display:inline-block; }
.content-each{}
