
.nodata{font-size:1.6rem; text-align:center; margin-top:55px; color:#999; }

/*查询首页*/
.cpf-form ul{border:1px solid #bababa; border-radius:4px; }
.cpf-form li{position:relative; line-height:48px; font-size:1.4rem; border-bottom:1px solid #bababa; }
.cpf-form li:last-of-type{border-bottom:none; }
.cpf-form .input{position:relative; }
.cpf-form input{width:100%; height:46px; font-size:1.4rem; background-color:transparent; border:none; }
.cpf-form .btn-area{margin:30px 0; }
.cpf-form .btn{border-radius:0; }

.login-form{margin:30px 15px; display:none; }
.login-form .input{padding-left:35px; }
.login-form .input:after{position:absolute; left:6px; top:10px; width:28px; height:28px; background-repeat:no-repeat; background-position:center; content:''; background-size:20px; }
.login-form .username .input:after{background-image:url('./../images/avatar.png'); }
.login-form .password .input:after{background-image:url('./../images/password.png'); }
.login-form .tips{line-height: 22px; font-size:1.4rem; }
.login-form .link{display:inline-block; margin:0 5px; }

.cpf-result{display:none; }

.register-form{margin:0 15px; }
.register-form li{display:-webkit-box; display:-ms-flexbox; line-height:46px; }
.register-form .tips{line-height: 44px; font-size:1.6rem; }
.register-form .title{margin-left:10px; }
.register-form .input{-webkit-box-flex:1;-ms-flex:1;}
.register-form .code-img{width:60px; margin-right:10px; display:none; }


/*公积金结果*/
.cpf-result .list-block li{position:relative; height:45px; padding:0 10px; border-bottom:1px solid #e5e5e5; background-color:#fff;}
.cpf-result .list-block .primary{font-size:1.5rem; margin-right:3px; }
.cpf-result .title{font-size:1.4rem; color:#333; margin-right:10px; }
.cpf-result .name{text-align:right; font-size:1.4rem; color:#2f8dd1; }

/*公积金列表页*/
.cpf-list .name{text-align:left; font-size:1.2rem;}
.cpf-list li{background:url('./../images/icon_next.png') no-repeat 96% center; background-size:12px; }
.cpf-list .btn-block{margin:20px; }

/*公积金绑定账户*/
.rebind-form{margin:10px 15px; }
.rebind-form li{display:-webkit-box; display:-ms-flexbox; line-height:46px; }
.rebind-form .title{margin-left:10px; }
