.add{}
.add:hover{background:#eee;}
.box > li{display:-webkit-box;padding:15px;border:1px dotted #333;margin-bottom:10px;position:relative;}
.box > li > div{width:280px;}
.box > li  ul{margin-left:20px;}
.box > li  li{margin-bottom:10px;position:relative;}
.add-domain{width:250px;background:#d82c7b;color:#fff;text-align:center;cursor:pointer;}
.save{display:inline-block;width:100px;height:40px;line-height:40px;text-align:center;color:#fff;border-radius:3px;background:green;cursor:pointer;margin:0px 0 0 30px;}
.save-domain{font-size:12px;margin-left:5px;cursor:pointer;}
.del{display:none;position:absolute;right:0;top:0;cursor:pointer;background:red;color:#fff;width:22px;height:22px;line-height:22px;text-align:center;}
.box > li  li:hover .del{display:block;}
.del-site{display:none;position:absolute;right:0;top:0;cursor:pointer;background:#fcc800;color:#fff;height:22px;line-height:22px;padding:0 10px;}
.box > li:hover .del-site{display:block;}