.m2o-header .vote-comment{float:right;display:block;color:#498adb;font-size:14px;width: 80px;height: 35px;line-height: 35px;font-size: 17px;margin-right: 0px;font-weight: bolder;}
.m2o-vote-details .m2o-l{height:auto;background: #f9f9f9;width: 380px;margin-right: 20px;}
.m2o-vote-details .overflow{font-size: 12px;}
.m2o-vote-details .vote-left-info{margin: 10px 0 0 10px;padding-bottom: 10px;border-bottom: 1px solid #e7e7e7;width: 95%;}
.m2o-vote-details .vote-pic{width:114px;height: 114px;background:#fff;}
.m2o-vote-details .vote-pic img{width:114px;height: 114px;}
.m2o-vote-details .vote-info{margin-left: 10px;font-size:14px}
.m2o-vote-details .form-dioption-fabu{padding: 0px 0 5px 0;}
.m2o-vote-details .vote-show{font-size:14px;margin: 0px 0 0 10px;height: 35px;line-height: 40px;border-bottom: 1px solid #e7e7e7;width: 95%;}
.m2o-vote-details .overflow span{color:#000;margin-left:5px;overflow:hidden;font-size:12px;}
.m2o-vote-details .info-switch{width:100%;height:45px;background:#fff;border-bottom:1px solid #e7e7e7;}
.m2o-vote-details .switch{font-size: 17px;cursor:pointer;width:100px;height:35px;margin: 5px 0 5px 10px;display:inline-block;line-height:35px;text-align:center}
.m2o-vote-details .total{font-size: 14px;float:right;display:inline-block;margin: 14px 10px 0 0;color:#9f9f9f}
.m2o-vote-details .total label{color:#cd0000;}
.select{background:#498adb;color:#fff;}