.add_sub{}
.add_sub span{cursor: pointer;padding: 10px 10px 0px 0px;display: inline-block;}

.p_bg{height: 15px;border: 1px solid #CED3D6;border-top:none;}
.p_bg_1{background: #DDEEFE;cursor: pointer;}
.p_bg_2{height: 15px;border: 1px solid #CED3D6;}