.backup_img{width: 48px;height: 42px;margin: 1px;cursor: pointer;}
.type_content_ul {margin-left: 15px;height: 180px;}
.type_content_ul li {margin: 4px 4px;border: 1px solid #CFD2D7;float: left;width: 50px;height: 44px;}
.type_content_ul li .backupinfo {border: 1px solid gray;float: left;position: absolute;z-index: auto;1width: 100px;height: 30px;display: none;background: white;}
.type_content_ul li .backupinfo span {1display: inline-block;display:block; overflow: hidden;white-space: nowrap;1width: 100px;}
.pageBox {margin-left: 150px;}
.count {position: relative;left: 20px;top: 22px;}
.search{height: 20px;}