<widget xmlns="http://www.jil.org/ns/widgets" id="hglive" version="01.00.Beta" versioncode="1" height="200" width="300">
	<name>LiveWidget</name>
	<description>An example Widget</description>
	<author email="Widget@chinamobile.com">Widget</author>
	<icon src="icon.png"/>
	<content src="tv_list.html" encoding="utf-8"/>
</widget>